.direnv
.pre-commit-config.yaml

# dependencies
/node_modules

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug

# env files (can opt-in for committing if needed)
.env

# vercel

# typescript
*.tsbuildinfo
next-env.d.ts

result
